[user]
	email = ab0988956087@gmail.com
	name = Leo Wang
[push]
	autoSetupRemote = true
	default = current
	followTags = true
[core]
	excludesfile = /home/leo/.gitignore_global

[alias]
	logg = log --graph --oneline --decorate
	# update main branch then remove last branch
	mp = "!git checkout main && git pull --rebase && git branch -D @{-1}"
	pu = push -u
	put ="!git push -u && git push -u --tags"
	amend = commit --amend
	ane = commit --amend --no-edit
	c=commit
	cp= cherry-pick
	ssm= stash save -m
	sp= stash pop
	td= tag -d
	pod= push origin -d
	sl= stash list
	s= stash
	res=restore .
	sd=stash drop
	aa="!git add . && git amend"
	aan="!git add . && git commit --amend --no-edit"
[core]
	hooksPath = ~/git-hooks
[init]
	defaultBranch = main
